html, body {height:80%;}
html {display:table; margin:auto;}


table {
    color: #686461;
}

th {
    padding: 10px;
    text-align: left;
    background: #E8E6D1;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: #8FD4C1;
}
tr:nth-child(even) {
    background: #99e1ce;
}

input.ios-radio{ position: absolute; opacity: 0;}
input.ios-radio + label{
    display:  block;
    padding-left: 25px;
    height: 21px;
    line-height: 21px;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
    position: relative;
}
label.ios-radio-label:after{
    content: '';
    position: absolute;
    z-index: 104;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    top: 4px;
    left: 4px;
    transition: all .3s;

}
label.ios-radio-label:before{
    content: '';
    left: 0px;
    position: absolute;
    z-index: 100;
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    border: #4AD963 solid 2px;
}
input.ios-radio[type="radio"]:checked+label:after{
    background-color: #6ea076;
}


label.lab {
    color: #999;
    font-size: 22px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input.inp:focus ~ label, input:valid ~ label {
    top: -15px;
    font-size: 20px;
    color: #5264AE;
}


/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 360px;
}
.bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
input.inp:focus ~ .bar:before,
input.inp:focus ~ .bar:after {
    width: 50%;
}

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 30px;
}

input.inp {
    font-size: 20px;
    padding: 10px;
    display: block;
    width: 360px;
    border: none;
    border-bottom: 1px solid #ccc;
}
input.inp:focus {
    outline: none;
}

input.create {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    float: bottom;
    border-radius: 5px;
    width: 400px;
    height: 30px;
}

.createTab {
    background: #99e1ce;
    border-radius: 10px;
}
