#menu {
    height:150px;
    width:300px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    display:inline-block
}

#main {
    height:800px;
    width:1100px;
    display:inline-block;
    background:url(../img/bg.jpg);
    border-radius: 3%;
}

.wrap { padding: 15px; }
h1 { font-size: 28px; }
h4,
modal-title { font-size: 18px; font-weight: bold; }

.no-borders { border: 0px; }
.body-message { font-size: 18px; }
.centered { text-align: center; }
.btn-primary { background-color: #2086c1; border-color: transparent; outline: none; border-radius: 8px; font-size: 15px; padding: 10px 25px; }
.btn-primary:hover { background-color: #2086c1; border-color: transparent; }
.btn-primary:focus { outline: none; }