* {
    margin: 0;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
}

.left {
    width: 70%;
    float: left;
}

.right {
    width: 30%;
    float: left;
}

.input {
    margin: 40px 20px;
    width: 200px;
    height: 30px;
    font-size: 20px;
}

.keyboard {
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    width: 700px;
}

.line::after {
    content: "";
    display: block;
    clear: both;
}

.key {
    float: left;
    width: 40px;
    height: 40px;
    background: rgba(12, 255, 177, 0.24);
    border: 1px solid #149034;
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    line-height: 32px;
}

.backspace {
    width: 76px;
}

.tab, .capslock {
    width: 60px;
}

.lshift {
    width: 72px;
}

.rshift {
    width: 135px;
}

.lctrl, .rctrl {
    width: 69px;
}

.space {
    width: 248px;
}

.window {
    width: 20px;
    padding-top: 5px;
}

.letter-key {
    font-size: 10px;
    line-height: 100%;
}

.enter {
    position: absolute;
    right: 12px;
    top: 51px;
    width: 55px;
    height: 87px;
}